body {
    font-family: sans-serif;
    background: #212121;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.main-nav ul{
    padding-left: 0;
}

.main-nav ul li{
    display: inline-block;

}

.main-nav ul li a{
    text-decoration: none;
    color: #212121;
    padding: 10px 20px;
}

.main-nav ul li a:hover{
    background: orange;
}

.content-container {
    background: #f0f0f0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
}

.card {
    border: 1px solid #a1a1a1;
    min-width: 260px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, .12);
    background: white;
    margin: 10px;
    box-sizing: border-box;
}

.card button {
    padding: 5px 20px;
    margin: 5px;
    border: 1px solid wheat;
    background: white;
}

button.set {
    background: orange;
    color: white;
}

.example {
    /* viewport size (the size of the viewable area)*/
    max-width: 300px;
    max-height: 300px;
}

.hamburger {
    max-width: 70%;
}

.svg-sprite {
    border: 3px solid green;
    width: 100px;
    height: 100px;
}

.codepen {
    fill: darkmagenta;
}

.twitter {
    fill: orange;
}

.github {
    fill: dodgerblue;
}

.w100 {
    max-width: 100%;
}

.w50 {
    max-width: 50%;
}

.removed {
    display: none;
}

/* Animated svg*/

.burger-menu {
    width: 60px;
    height: 60px;
}

/*
.burger-menu:hover .line1,
.burger-menu:hover .line2,
.burger-menu:hover .line3 {
    transform-origin: 50% 50%;
    animation: burger-anim 500ms ease-in-out;
}

.burger-menu:hover .line2 {
    animation-delay: 75ms;
}

.burger-menu:hover .line3 {
    animation-delay: 150ms;
}

@keyframes burger-anim {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(1.3);
    }
    100% {
      transform: scaleX(1);
    }
}*/
